header
	background: #f0f0f0
	.container_head
		width: 90%
		max-width: 1520px
		margin: 0 auto
	.top_line
		display: flex
		justify-content: space-between
		.logo
			display: block
		nav
			ul
				margin: 0
				padding: 0
				li
					float: left
.footer_container
	width: 90%
	max-width: 1550px
	justify-content: space-around
	flex-wrap: wrap
	margin: 0 auto
	display: flex
	.footer_logo
		width: 25%
		h2
			color: #333333
			font-family: "Lato - Black"
			font-size: 67px
			font-weight: 400
			span
				color: #ff0000
		p
			color: #333333
			font-family: "Lato - Thin"
			font-size: 17px
			font-weight: 400
		.footer_icons
			display: flex
			i
				display: block
				min-width: 50px
				height: 50px
				border-radius: 25px
				background-color: #333333
				color: #fff
				font-size: 30px
				margin-right: 20px
			i::before
				margin-left: 15px
				display: block
				padding-top: 10px
	.footer_text
		width: 25%
		color: #333333
		font-family: "Lato - Thin"
		font-size: 17px
		font-weight: 400
	.footer_text1
		width: 339px
	.footer_text2
		width: 341px
	.footer_text3
		width: 262px
.running_line
	background-color: #ff0000
	.running_line_container
		.ticker
			width: 100%
			ul
				padding: 20px 0px!important
				li
					display: inline-block
					color: #ffffff
					font-family: "Lato - Black"
					font-size: 42px
					font-weight: 400
					margin-right: 70px
