@font-face
	font-family: "LatoRegular"
	src: url("../fonts/LatoRegular.eot")
	src: url("../fonts/LatoRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular.ttf") format("truetype")
	font-style: normal2
	font-weight: normal
@font-face
	font-family: "LatoBold"
	src: url("../fonts/LatoBold.eot")
	src: url("../fonts/LatoBold.eot?#iefix")format("embedded-opentype"), url("../fonts/LatoBold.woff") format("woff"), url("../fonts/LatoBold.ttf") format("truetype")
	font-style: normal
	font-weight: normal
@font-face
	font-family: "Lato - Thin"
	src: url("../fonts/Lato-Thin.ttf")
	font-style: normal
	font-weight: normal
html
	font-size: 10px
	overflow-x: hidden
body
	overflow-x: hidden
.clearfix::after
	content: ""
	display: table
	clear: both

header
	background: url(../img/bg-white.png) no-repeat 50% 50%/cover
	.container_head
		width: 90%
		max-width: 1520px
		margin: 0 auto
	.top_line
		display: flex
		justify-content: space-between
		padding-top: 35px
		margin-bottom: 175px
		.logo
			display: block
			font-family: 'Lato', sans-serif
			font-weight: 900
			color: #303030
			text-decoration: none
			font-size: 4.2rem

			span
				color: #d22222
		nav
			ul
				margin: 0
				padding: 0
				li
					float: left
					font-size: 3.7rem
					margin-left: 15px
					a
						color: #333333
						font-family: "LatoRegular", sans-serif
						font-size: 3.7rem
						text-decoration: none
						padding-right: 10px
	h3
		text-align: center
		color: #333333
		font-size: 5rem
		font-family: "LatoLight", sans-serif
		margin-bottom: 25px
		span
			font-weight: 900
	h1
		text-align: center

		font-size: 22rem
		padding: 0
		margin: 0
		font-family: 'Lato', sans-serif
		font-weight: 900
		letter-spacing: -25px
		color: #333
		line-height: 170px

#black_sec
	background: url(../img/bg-black.png) no-repeat 50% 50%/cover
	// height: 450px
	// overflow: hidden
	padding: 50px 0px
	position: relative
	padding-bottom: 140px


	.container_black
		width: 90%
		max-width: 1520px
		margin: 0 auto
	.offer_black
		display: flex
		justify-content: center
		align-items: center

		.black_img
			margin-right: 60px
			// overflow: hidden
			position: relative
			width: 100%
			height: 100%
			img
				// position: absolute
				// // top: -100px
				// left: 0
				// bottom: 0
				margin-top: -85px
				// height: 100%
				// width: auto
				// overflow: hidden

		.black_info
			font-size: 2.9rem
			color: #fff

			font-family: 'Lato', sans-serif
			font-weight: 400
			p
				margin-bottom: 35px
				line-height: 35px
				width: 435px

				span
					color: #d22222
	.big__black_abs
		padding: 25px 0px
		position: absolute
		bottom: 0
		left: 0
		right: 0
		box-shadow: 0 0 90px 46px rgba(0, 0, 0, 0.35)
		background: url(../img/bg-black.png) repeat 50% 50%
		.black_list
			width: 90%
			max-width: 1520px
			margin: 0 auto
			display: flex
			justify-content: space-between
			align-items: center
			.econom_cash
				display: flex
				align-items: center
				&:after
					content: ""
					height: 70px
					width: 1px
					background: #d22222
					margin-left: 30px
				p
					font-size: 3.3rem
					color: #fff
					font-family: 'Lato', sans-serif
					font-weight: 400
					margin-left: 40px

			.casino
				margin-left: 25px
				p
					color: #ffffff
					font-family: 'Lato', sans-serif
					font-size: 2.5rem
					font-weight: 300
					max-width: 430px
			.image_prev
				display: flex
				justify-content: space-between
				align-items: center
				.fonts_image
					border-left: 1px solid #d22222
					margin-left: 15px
					padding-left: 15px
#rememb
	background: url(../img/4-layers.png) no-repeat 50% 50%/cover
	height: 960px
	.rememb_container
		width: 90%
		max-width: 1520px
		margin: 0 auto
	.rem_block
		h2
			font-size: 7.5rem
			font-family: 'Lato', sans-serif
			font-weight: 400
#quest
	height: 960px
	background: url(../img/2-layers5.png) no-repeat 50% 50%/cover




.footer_container
	padding-bottom: 20px
	padding-top: 75px
	width: 90%
	max-width: 1550px
	justify-content: space-around
	margin: 0 auto
	display: flex
	line-height: 1.35
	.footer_logo
		width: 25%
		line-height: 1
		h2
			color: #333333
			font-family: 'Lato', sans-serif
			font-weight: 900
			font-size: 67px
			margin-bottom: 23px
			span
				color: #ff0000
		p
			color: #333333
			font-family: "Lato - Thin"
			font-size: 17px
			font-weight: 100
			margin-bottom: 23px
		.footer_icons
			display: flex
			a
				text-decoration: none
				i
					display: block
					min-width: 50px
					height: 50px
					border-radius: 25px
					background-color: #333333
					color: #fff
					font-size: 30px
					margin-right: 20px
				i::before
					margin-left: 16px
					display: block
					padding-top: 10px
	.footer_text
		width: 25%
		color: #333333
		font-family: "Lato - Thin"
		font-size: 17px
		font-weight: 400
		margin: 0px 10px
	.footer_text1
		width: 339px
	.footer_text2
		width: 341px
	.footer_text3
		width: 262px
.running_line
	background-color: #ff0000
	.running_line_container
		.ticker
			width: 100%
			ul
				padding: 20px 0px!important
				li
					display: inline-block
					color: #ffffff
					font-family: 'Lato', sans-serif
					font-weight: 900
					font-size: 42px
					margin-right: 70px
.revies
	.revies_container
		position: relative
		.revies_text
			position: absolute
			display: flex
			flex-direction: column
			justify-content: space-around
			padding-left: 100px
			width: 800px
			top: 0%
			left: 0%
			height: 100%
			z-index: 99999999999
			// clip-path: polygon(0 0, 35% 0, 100% 100%, 0 100%)
			background-image: url(../img/antonsuka2.png)
			background-repeat: no-repeat
			background-position: top right
			// background-size: 100% 100%
			.revies_text_title
				display: flex
				align-items: center
				position: relative
				h2
					color: #ffffff
					font-family: 'Lato', sans-serif
					font-weight: 900
					font-size: 75px
					position: relative
				.red_line
					width: 130px
					height: 3px
					background-color: #d22222
					margin-top: 15px
					margin-left: 20px
					// position: absolute
					z-index: 9999999999
				span
					font-family: 'Lato', sans-serif
					font-weight: 900
					font-size: 250px
					line-height: 49.99px
					position: absolute
					color: #3e3e3e
					top: 100%
					left: 0%
					letter-spacing: -30px
			p
				color: #ffffff
				font-family: 'Lato', sans-serif
				font-weight: 900
				font-size: 42px
				z-index: 999999999
		.slider
			padding: 60px 0
			width: 100%
			margin-left: 250px
			.slider_content
				position: relative
				// margin: 0 50px
				img
					width: 728px
					height: 541px

				.slider_content_absolute
					position: absolute
					top: 0%
					left: 0%
					height: 100%
					width: 100%
					background-color: rgba(0, 0, 0, 0.35)
.slick-active .slider_content .slider_content_absolute
	display: none
.slick-slide
	margin: 0 50px
.feedback
	background-image: url(../img/casino.png)
	background-position: 7% 0%
	padding-top: 90px
	.feedback_container
		width: 90%
		max-width: 1520px
		margin: 0 auto
		.wrapper_feedback
			position: relative
			z-index: 9999999999999
			h2
				color: #333333
				font-family: 'Lato', sans-serif
				font-weight: 900
				font-size: 75px
				margin-bottom: 70px
				z-index: 9999999999999999
			span
				color: #eaeaea
				font-family: 'Lato', sans-serif
				font-weight: 900
				font-size: 300px
				line-height: 49.99px
				letter-spacing: -30px
				position: absolute
				top: 30%
				left: 0%
				z-index: -1
		.red_line
			width: 130px
			height: 3px
			background-color: #d22222
			margin-bottom: 50px
			z-index: 99999999
		p
			color: #535353
			font-family: 'Lato'
			font-size: 37px
			font-weight: 400
			line-height: 50px
			margin-bottom: 110px
		.feedback_form
			label
				color: #333333
				font-family: 'Lato', sans-serif
				font-weight: 900
				font-size: 37px
				line-height: 50px
				display: block
				margin-bottom: 30px
			input
				width: 600px
				height: 59px
				border-radius: 20px
				border: 2px solid #929292
				margin-bottom: 90px
				padding-left: 20px
				outline: none
				color: #333333
				font-family: 'Lato'
				font-size: 37px
				font-weight: 400
				line-height: 50px
			input[type=submit]
				width: 314px
				height: 64px
				border: none
				border-radius: 20px
				color: #ffffff
				background-color: #ff0000
				border: 2px solid #ff0000
				font-family: 'Lato', sans-serif
				font-weight: 900
				font-size: 37px
				line-height: 50px
				cursor: pointer
				margin-bottom: 50px
			input[type=submit]:hover
				color: #ff0000
				background-color: #ffffff
			.choose_sex
				display: flex
				.sex
					display: flex
					justify-content: center
					align-items: center
					width: 113px
					height: 59px
					border-radius: 20px
					background-color: #ffffff
					border: 2px solid #ff0000
					color: #ff0000
					font-family: 'Lato', sans-serif
					font-weight: 900
					font-size: 42px
					line-height: 50px
					margin-left: 30px
					cursor: pointer
					margin-bottom: 90px

				.active
					background-color: #ff0000
					color: #ffffff
				.sex:hover
					background-color: #ff0000
					color: #ffffff
@media (max-width: 3000px) and (min-width:1480px)
	.revies
		.revies_container
			.revies_text
				background-size: 100%
@media all and (max-width:1480px)
	footer
		.footer_container
			.footer_logo
				h2
					font-size: 50px
			.footer_text
				width: 250px
	.revies
		.revies_container
			.revies_text
				width: 600px
				padding-left: 50px
				background-size: 100% 100%
			.slider
				margin-left: 200px
@media all and (max-width:1250px)
	.revies
		.revies_container
			.revies_text
				width: 500px
				background-size: 100% 100%
				.revies_text_title
					h2
						font-size: 50px
				p
					font-size: 30px
			.slider
				width: 100%
				margin-left: 100px
				.slider_content
					img
						width: 500px
						height: auto
	.slick-slide
		margin: 0 20px
@media all and (max-width:1150px)
	.revies
		padding-top: 200px
		position: relative
		.revies_container
			position: static
			.revies_text
				width: 100%
				justify-content: flex-start
				.revies_text_title
					h2
						margin-top: 50px
						margin-bottom: 50px
			.slider
				z-index: 999999999999999999
				margin: 0
@media all and (max-width:1000px)
	footer
		.footer_container
			flex-wrap: wrap
			.footer_logo
				width: 45%
				margin: 0
				margin-bottom: 40px
			.footer_text
				width: 45%
				margin: 0
				margin-bottom: 40px
@media all and (max-width:700px)
	.feedback
		.feedback_container
			h2
				font-size: 60px
				margin-bottom: 35px
			p
				font-size: 27px
				margin-bottom: 55px
			span
				font-size: 180px
			.feedback_form
				label
					font-size: 27px
					margin-bottom: 15px
				input
					width: 90%
					margin-bottom: 40px
				.choose_sex
					.sex
						margin-bottom: 40px
						margin-left: 0
						margin-right: 5px
				input[type=submit]
					width: 65%
					font-size: 27px
	.running_line
		.running_line_container
			.ticker
				#webTicker
					li
						font-size: 30px
	.revies
		.revies_container
			.revies_text
				width: 100%
				.revies_text_title
					h2
						font-size: 40px
					span
						font-size: 180px
				p
					font-size: 22px
			.slider
				.slider_content
					img
						width: 320px
						height: auto
@media all and (max-width:500px)
	footer
		.footer_container
			.footer_logo
				width: 100%
			.footer_text
				width: 100%
	.revies
		.revies_container
			.revies_text
				padding-left: 10px
				width: 150%
	.slick-slide
		margin: 0 10px
